/* Body */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: #7251B5;
}

/* Headings */
h1,
h2,
h3 {
  margin-bottom: 0;
}

/* Company name ID */
#company-name {
  font-size: 1.5rem;
}

/* Header and Footer */
header,
footer {
  background-color: #000;
  color: #DEC9E9;
}

/* Wrapper class */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 2em;
}

/* Both list types */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Navigation links (descendant selector) */
nav a {
  color: #DEC9E9;
  text-decoration: none;
}

/* Adjacent selector */
#intro + section {
  background-color: #000;
  color: #DEC9E9;
}

/* Article images (child selector) */
article > img {
  width: 150px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-top: 1em;
}

/* Even numbered ordered list items */
ol li:nth-child(even) {
  color: #dc33dc;
}

/* Main image (child selector) */
main > img {
  width: 100%;
}
